body {
  background-color: powderblue;
}

h1 {
  color: black;
  text-align: center;
  font-size: 60px;
  font-family: courier;
}

h2 {
  font-size: 200%;
  font-family: courier;
  text-indent: 5%;
  clear: both;
}

h3 {
  font-size: 100%;
  font-family: courier;
}

span {
  font-size: 100%;
  font-family: courier;
}

li a {
  display: block;
  font-family: courier;
  color: white;
  text-align: center;
  padding: 10px 0px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}

ol {
  font-size: 150%;
  font-family: courier;
  margin-left: 20px;
}

table {
  border: 1px solid black;
  clear: both;
  width: 100%;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 100%;
  font-family: courier;
  padding: 0.25%;
  text-align: left;
}

em {
  color: black;
  font-size: 15px;
  font-family: courier;
}

em a {
  color: black;
}

iframe {
  width: 100%;
  height: 500px;
}

.container {
  float: left;
  position: relative;
  width: 30%;
}

#commonDogPhoto {
  margin-left: 5%;
  height: auto;
  width: 30%;
  padding-bottom: 75px;
  padding-right: 20px;
  float: left;
}

#homepageDogPhoto {
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  border: 1px solid black;
}

#dogCharacteristics {
  font-size: 100%;
  font-family: courier;
  list-style-type: circle;
  list-style-position: inside;
}

#header {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
  background-color: #333333;
}

#navigationMenu {
  float: left;
  width: 25%;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container:hover #homepageDogPhoto {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  font-family: courier;
  font-size: 24px;
}
